body {
  font-family: "Roboto","NotoSans","Malgun Gothic","맑은 고딕","돋움",dotum,sans-serif;
}

a, a:hover {
  text-decoration: none;
}

.f-post-title {
  font-family: 'NanumSquare', sans-serif !important;
}

.post-content {
  color: #666;
  line-height: 1.8;
  font-family: "Iropke Batang",serif;
}