body {
  font-family: "Roboto","NotoSans","Malgun Gothic","맑은 고딕","돋움",dotum,sans-serif;
}

a, a:hover {
  text-decoration: none;
}

ul, ol {
  margin-left: 20px;
  padding-left: 0;
}

header {
  a, a:hover, a:visited {
    color: #212529;
  }
}

.container {
  max-width: 900px;
}

.f-post-title {
  line-height: 1.4;
  font-family: 'NanumSquare', sans-serif !important;
}

.post-content {
  color: #666;
  line-height: 1.8;
  font-family: "Iropke Batang",serif;
}