---
layout: default
---

{%- assign date_format = site.minima.date_format | default: "%Y.%m.%d" -%}

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- if site.posts.size > 0 -%}
    <!-- h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2 -->
    <ul class="post-list">
      {%- for post in site.posts limit:20 -%}
      <li>

        <h3 class="f-post-title">
          <a class="post-link text-dark fs-2" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>

        <p class="text-muted">
          {{ post.content | strip_html | truncate: 120, "" }}
        </p>

        <span class="post-meta">{{ post.date | date: date_format }}</span>

        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}

        <hr class="my-4 border-dashed" />
      </li>
      {%- endfor -%}
    </ul>
  {%- endif -%}

  {% assign page_count = site.posts.size | divided_by: site.paginate %}

  <div class="pagination">
    <span class="previous">Previous</span>
    <span class="page_number mx-5">
      Page: 1 of {{ page_count }}
    </span>
    <a href="/posts/page2" class="next">Next</a>
  </div>

</div>
